[submodule "db"]
	path = db
	url = git@github.com:hykelvinlee42/myExperience.git
	ignore = dirty
[submodule "export"]
	path = export
	url = git@github.com:hykelvinlee42/resumpy-export.git
	ignore = dirty
[submodule "web"]
	path = web
	url = git@github.com:hykelvinlee42/hykelvinlee42.github.io.git
	ignore = dirty
